ptm/maise/MTurkSDKCode/etc/schema/2011-11-11/HTMLQuestion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd">
  <xs:element name="HTMLQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HTMLContent" type="xs:string"/>
        <xs:element name="FrameHeight" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
